extends /layouts/application.jade

block title
  title #{title} - WPS Office Community

block content
  ol.breadcrumb(style='margin-top: 20px')
    - p = ''
    each level in levels
      li
        - p = p + '/' + level
        a(href=p)= level
  if marked
    .marked
      != marked
  table.table.table-hover.mono.hide
    thead
      th File Name
      th File Size
      th Last Modified
      th SHA1
    tbody
      each fi in fileInfos
        tr
          td
            if fi.isDir
              span.fa.fa-folder
            else
              span.fa.fa-file
            |  
            a(href=(p + '/' + fi.name))
              = fi.name
          td= fi.size
          td.mtime= fi.mtime.getTime ? fi.mtime.getTime() : '-'
          td= fi.sha1
  script.
    var format = d3.time.format('%Y-%m-%d %X');
    d3.selectAll('.mtime').text(function() {
      var text = d3.select(this).text();
      return isNaN(text) ? text : format(new Date(+text));
    });
    d3.select('table').classed('hide', false)

